html{
    background-color: #CA97E2;
}

a:link{
     color: blue;
}

a:visited{
     color: purple;
}

a:active{
      color: red;
}

body{
     font-family: 'Segoe UI';
     margin: 25px 50px ;
     background-color: white;
     padding: 20px 20px 20px 20px;
     border: none;
     border-radius: 12px;
}

table, th, td{
     width: 100%;
     font-family: times new roman;
}

.topnav {
  overflow: hidden;
  background-color: #CA97E2;
}

.topnav a {
  float: left;
  display: block;
  color: #FDFEFE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.topnav a:hover{
  background-color: #555;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #555;
}

.show {
  display: block;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CA97E2;
    color: white;
    padding: 4px;
    text-align: center;
}

----------------------------------------------------------------------------------------------------
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ol.c {
  list-style-type: upper-roman;
}

h2 {
 font-size: 40px;
 letter-spacing: 5px;
 text-decoration-line: overline underline;
}

p {
font-family: Segoe UI;
font-size: 25px;
}
